*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}
.header{
    background-image: url('../img/panda.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    
}
.img__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.image{
    width: 100px;
    animation-name: taomlar;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes taomlar{
    0%{
        transform: translateY(0vh);
        opacity: 0;
    }
    20%{
        transform: translateY(20vh);
        opacity: 0.7;
    }
    40%{
        transform: translateY(40vh);
    }
    60%{
        transform: translateY(60vh);
    }
    80%{
        transform: translateY(80vh);
        opacity: 1;

    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
    
}

.image:nth-child(1){
    width: 150px;
    animation-delay: 2s;
}
.image:nth-child(2){
    width: 150px;
    animation-delay: 3s;
}
.image:nth-child(3){
    width: 150px;
    animation-delay: 1s;
}
.image:nth-child(4){
    width: 150px;
    animation-delay: 4s;
}
.image:nth-child(5){
    width: 150px;
    animation-delay: 5s;
}
.image:nth-child(6){
    width: 150px;
    animation-delay: 3s;
}